<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- <script src="/javascripts/success.js"></script> -->

<h1>Success!</h1>
<h2>{{Message}}</h2>

<a href="/ingredients">
	<button>Ingredients</button>
</a>

<a href="/orders">
	<button>Orders</button>
</a>

<a href="/kitchen">
	<button>Kitchen</button>
</a>
